.headerImg {
	background-color: rgb(28, 28, 28);
	height: 400px;
}

#main {
	margin: auto;
}

#sayHello {
	display: inline-block;
	color: rgb(179, 0, 0);
	font-size: 4rem;
	margin-top: 50px;
	text-align: center;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}