@font-face {
	font-family: 'Edition', 'Linden Hill', serif;
}

#button {
	float: right;
	margin: 5px 0;

}

#language {
	float: left;
}

#input {
	width: 100%;
}

body {
	font-family: 'Edition','Linden Hill', serif;
}

#display {
	height: 283px;
	width: 485px;
	background-image: "../img/fade1.png"

}

